* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: consolas;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    font-weight: bold;
}

section:nth-child(even) {
    background-color: #efefef;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
    z-index: 1;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.6em;
    display: inline-block;
}

nav a:hover, 
section#one:hover ~ nav a[href='#one'],
section#two:hover ~ nav a[href='#two'],
section#three:hover ~ nav a[href='#three'],
section#four:hover ~ nav a[href='#four'],
section#five:hover ~ nav a[href='#five'] {
    background-color: #fff;
    color: #000;
}

::-webkit-scrollbar {
    width: 0;
}